.product{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding:20px 100px;

}
.product__rating{
    display: flex;
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}
.product__price{
    margin-top: 5px;
}
.product__info{
    height:100px;
    margin-bottom: 15px;
}
.product > button{
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding:3px 0;
    border-radius: 5px;
    margin:auto;
    width: 180px;
}