.home__image{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) );
    z-index: -1;
    margin-bottom: -150px;
}
.home{
    max-width: 1500px;
    margin:auto;
}